@import '../../../../../assets/colors.scss';

button {
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-family: inherit;
    font-style: normal;
    color: $color-white;
    background: $color-gray-medium;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    &.link {
        background: transparent;
        color: $color-gray-medium;
        border: none;
        padding: 10px 0px;

        &.primary {
            color: $color-green-medium;
        }

        &.warning {
            color: $color-red-medium;
        }
    }

    &.flat {
        color: $color-white;
        padding: 10px 15px;
        border: none;
        border-radius: 20px;

        &.basic {
            background: $color-gray-medium;
        }

        &.primary {
            background: $color-green-medium;
        }
        
        &.warning {
            background: $color-red-medium;
        }
    }

    &:disabled {
        opacity: 0.5;

        &:hover {
            cursor: unset;
            opacity: 0.5;
        }
    }
}