$color-green-light: #52E93A;;
$color-green-medium: #389E28;
$color-green-dark: #138900;

$color-red-light:#FF4040;
$color-red-medium: #BF3030;
$color-red-dark: #A60000;

$color-gray-medium: #808080;

$color-white: #ffffff;