<mat-card class="todo-list">
  <mat-card-header>
    <mat-card-title>Список задач</mat-card-title>
  </mat-card-header>
  
  <mat-card-content>
    <mat-list *ngIf="!isLoading; else loadingSpinner">
      <mat-list-item *ngFor="let item of items">
        <app-todo-list-item [item]="item" [isSelected]="item.id === selectedItemId" (click)="selectItem(item.id)" (itemDeleted)="deleteItem($event)"></app-todo-list-item>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-footer>
    <app-todo-list-item-new (itemCreated)="createItem($event)"></app-todo-list-item-new>
  </mat-card-footer>
</mat-card>

<mat-card class="todo-list__details">
  <ng-container *ngIf="selectedItem">
    <mat-card-header>
      <mat-card-title>{{ selectedItem.title }}</mat-card-title>
      <app-button type="link" class="todo-list__details--close" (click)="unselectItem()" tooltip="Закрыть детальный просмотр задачи">Закрыть</app-button>
    </mat-card-header>
    
    <mat-card-content>
      <p>{{ selectedItem.description }}</p>
    </mat-card-content>
  </ng-container>
</mat-card>

<ng-template #loadingSpinner>
  <app-spinner></app-spinner>
</ng-template>